{
	admin off
}

{$APP_DOMAIN} {
	encode zstd gzip

	@product_media path /uploads/products/*
	header @product_media Cache-Control "public, max-age=31536000, immutable"

	@backend path /api/* /uploads/*
	handle @backend {
		reverse_proxy backend:4000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		-Server
	}

	log {
		output stdout
		format json
	}
}
